.container {
    margin: 1rem;
}

.post:not(:last-child):after {
    content: "-----";
    font-size: 2rem;
    font-weight: 100;
    text-align: center;
    display: block;
}

.post figure {
    aspect-ratio: 19 / 6;
    overflow: hidden;
    border-radius: 20px;
}

.post .cover-image {
    transform: translateY(-50%);
}

@media (min-width: 67em) {
    .container {
        width: 60vw;
        margin: 1rem auto;
    }
}
