.container {
    margin: 1rem;
}

.post figure {
    margin-top: 1rem;
}

.post figure figcaption {
    text-align: center;
}

.hero-image {
    max-height: 60vh;
}

@media (min-width: 76em) {
    .container {
        width: 60vw;
        margin: 1rem auto;
    }
}

@media (min-width: 109em) {
    .container {
        width: 40vw;
    }
}
