.header {
    margin-block-start: var(--step-0);
}

.siteLinks {
    --horizontal-spacing: var(--step-0);
    display: flex;
    list-style: none;
    gap: var(--horizontal-spacing);
    width: fit-content;
    margin-inline: auto;
    background: var(--color-surface);
    border-radius: 8px;
    overflow: hidden;
}

.siteLinks li {
    display: flex;
    align-items: baseline;
    gap: var(--horizontal-spacing);
}

.siteLinks li+li::before {
    content: "/";
    font-weight: 500;
    color: var(--color-text-accent);
}

.siteLinks a {
    padding: var(--step--2) var(--horizontal-spacing);
}

.siteLinks a[data-active] {
    background: var(--color-primary);
    color: var(--color-text-accent);
}