.profilePicContainer {
  position: relative;
  width: 100%;
  aspect-ratio: 1;
  margin-inline: auto;
}

.profilePic {
  border-radius: 50%;
  object-fit: cover;
}

.links {
  --gap: var(--step-0);
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
  margin-block: var(--step-3);
}

.links a {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: calc(var(--max-width) / 3 - var(--gap));
}

