.heading {
    text-align: center;
    font-size: 3rem;
    color: #f9b774;
}

.nav-bar {
    display: block;
    margin: 0 auto;
    width: fit-content;
}

.nav-bar ul {
    display: flex;
    list-style: none;
}

.nav-bar ul li:not(:first-of-type) {
    margin-left: 1rem;
}
