.heading {
    text-align: center;
    font-size: 3rem;
    color: #f9b774;
}

.nav-bar {
    text-align: center;
}

.nav-bar .hamburger {
    cursor: pointer;
}

.nav-bar ul {
    list-style: none;
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.5s;
}

.nav-bar ul.menu-open {
    max-height: 7rem;
}

@media (min-width: 55em) {
    .nav-bar {
        margin: 0 auto;
        width: fit-content;
    }

    .nav-bar .hamburger {
        display: none;
    }

    .nav-bar ul {
        display: flex;
        max-height: unset;
    }

    .nav-bar ul li:not(:first-of-type) {
        margin-left: 1rem;
    }
}
