.heroImageWrapper {
    position: relative;
    width: 100%;
    aspect-ratio: 16/9;
}

.heroImageWrapper img {
    object-fit: cover;
}

.article>*+* {
    margin-block-start: 1.1em;
}

.article p:has(img),
.heroImageWrapper+.heroImageCredit {
    font-size: var(--step--1);
    text-align: center;
    background: var(--color-surface);
    border-radius: 0 0 4px 4px;
}

.article img {
    margin-inline: auto;
}

.article code {
    background: var(--color-surface);
}
.article hr {
    border: 1px solid hsl(0deg 100% 100% / 0.3);
}

@media (prefers-color-scheme: light) {
    .article hr {
        border: 1px solid hsl(0deg 0% 0% / 0.3);
    }
}

.stats {
    --gap: var(--step--2);
    font-size: var(--step--1);
    display: flex;
    gap: var(--gap);
}

.stats > *+*::before {
    content: "·";
    margin-inline-end: var(--gap);
}